body {
    margin: 0;
}

div {
    min-height: 1rem;
    padding: 1rem;
    margin: .5rem;border: 3px solid #000;
    display: flex;
    flex-grow: 1;
}

.grandparent {
    background-color: hsl(0, 50%, 50%);
    flex-direction: column;
}    

.parent {
    background-color: hsl(100, 50%, 50%);
}

.child {
    background-color: hsl(200, 50%, 50%);
}