
* {
    box-sizing: border-box;
}

body {
    background-color: #607D8B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 90px;
}

h3 {
    font-size: 25px;
}

span {
    font-size: 25px;
    color: #fff;
}

#grid {
    width: 500px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.cards {
    margin: 2px;
}

