@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

.top-container {
    margin-left: 50px;
}

h2 {
    margin-left: 25px;
}

.score-container {
    display: flex;
}

.time-left-container {
    display: flex;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    border: 2px #000 solid;
    width: 200px;
    height: 200px;
}