@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-left: 65px;
}

.top-container {
    margin-left: 50px;
}

h2 {
    margin-left: 25px;
}

.score-container {
    display: flex;
}

.time-left-container {
    display: flex;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 65px;
}

.square {
    width: 200px;
    height: 200px;
    border: 2px #000 solid;
    background-color:bisque;
}

.mole {
    background: url('./images/mole.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}