@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    margin: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 2px #000 solid;
    width: 200px;
    height: 200px;
}